.weatherImageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.weatherImageContainer > img {
  width: 100px;
}

.abbrImage {
  position: absolute;
  top: 15vh;
  width: 130px !important;
}

.weatherTemp {
  color: #e7e7eb;
  font-size: 100px;
  font-weight: 500;
  /* margin: 0; */
  text-align: center;
}

.celText {
  font-size: 60px;
}

.weatherState {
  color: #a09fb1;
  font-size: 36px;
  margin: 20px 0 20px;
  text-align: center;
}

.dateContainer {
  color: #88869d;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-evenly;
  margin: 0 50px 20px 60px;
}

.locationName {
  color: #88869d;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.weeklyWeatherContainer {
  background: #100e1d;
  margin-top: 150px;
  padding: 20px 0;
}

.weeklyWeather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hightlightContainer {
  background: #100e1d;
  margin-top: -50px;
  padding-bottom: 137px;
}

.hightlightContainer > h1 {
  color: white;
  margin-left: 21px;
}

.hightlight {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  margin: 0px 40px 0px 40px;
}

.creator {
  background: #100e1d;
  color: white;
  margin-top: -50px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cloudsOne {
    display: none;
  }

  .cloudsTwo {
    display: none;
  }

  .cloudsThree {
    display: none;
  }

  .cloudsFour {
    display: none;
  }

  .abbrImage {
    top: 50vh;
    left: 38vw;
  }

  .weatherTemp {
    font-size: 10rem;
  }

  .weatherState {
    font-size: 5rem;
  }

  .dateContainer {
    font-size: 2.5rem;
  }

  .locationName {
    font-size: 3rem;
  }
  .hightlight {
    /* margin: 0 60px 0 60px; */
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .cloudsOne {
    display: none;
  }

  .cloudsTwo {
    display: none;
  }

  .cloudsThree {
    display: none;
  }

  .cloudsFour {
    display: none;
  }

  .abbrImage {
    top: 70vh;
  }

  .weatherTemp {
    font-size: 10rem;
  }

  .weatherState {
    font-size: 5rem;
  }

  .dateContainer {
    font-size: 2.5rem;
  }

  .locationName {
    font-size: 3rem;
  }

  .todaysWeatherContainer {
    margin-top: 15vh;
  }
  .hightlight {
    margin: 0px 80px 0px 80px;
    gap: 2rem;
    row-gap: 10px;
  }

  .weeklyWeatherContainer {
    display: flex;
    justify-content: center;
    padding: 15vh 0;
  }

  .weeklyWeather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .hightlightContainer > div {
    display: flex;
    justify-content: center;
  }

  .hightlightContainer > h1 {
    text-align: center;
  }
}
