.weatherImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -150px;
  overflow: hidden;
  width: 100%;
}

.weatherImageContainer > img {
  opacity: 20%;
  position: relative;
  width: 130px;
}
.cloudsOne {
  left: -50px;
}

.cloudsTwo {
  left: 60px;
}

.cloudsThree {
  top: 30px;
  left: -10px;
}

.cloudsFour {
  top: 60px;
  right: -40px;
}

.abbrImage {
  left: 100px;
  position: absolute;
  top: -210px;
  width: 200px !important;
}

.weatherTemp {
  color: #e7e7eb;
  font-size: 100px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.celText {
  font-size: 60px;
}

.weatherState {
  color: #a09fb1;
  font-size: 36px;
  margin: 20px 0 20px;
  text-align: center;
}

.dateContainer {
  color: #88869d;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-evenly;
  margin: 0 50px 20px 60px;
}

.locationName {
  color: #88869d;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.weeklyWeatherContainer {
  background: #100e1d;
  margin-top: 150px;
  padding: 20px 0;
}

.weeklyWeather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hightlightContainer {
  background: #100e1d;
  margin-top: -50px;
  padding-bottom: 137px;
}

.hightlightContainer > h1 {
  color: white;
  margin-left: 21px;
}

.hightlight {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  margin: 0px 40px 0px 40px;
}

.creator {
  background: #100e1d;
  color: white;
  margin-top: -50px;
  text-align: center;
}
